.reset-password-container {
  background-color: #f9f9f9; /* Set background color */
  padding: 20px;
  border-radius: 8px;
  max-width: 800px; /* Set max-width for responsiveness */
  margin: auto; /* Center align */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.reset-password-container h2 {
  margin-bottom: 20px;
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
}

.reset-password-container div {
  margin-bottom: 10px;
}

.reset-password-container label {
  font-weight: bold;
}

.reset-password-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-container .error-message {
  color: red;
  margin-top: 5px;
}

.reset-password-container button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reset-password-container button:hover {
  background-color: #0056b3;
}
